@import "fancy-buttons";
@import "blueprint/interaction";
@import "blueprint/fancy_type";
@import "blueprint/colors";
@import "blueprint/grid";
@import "compass/css3/box-shadow";
@import "compass/css3/gradient";


$font_color:        white;
$hover_color:       #B23430;
$light_gray:        #5C5C5C;

.fancy_button { @include fancy-button(#2966a8); }

/*
.container {
  width: 710px;
}
*/

body {
  @include blueprint-interaction;
  @include fancy-type;

  background:       $light_gray;
  color:            $light_gray;
  font-family:  'Lucida Sans Unicode', 'Lucida Grande', sans-serif;

  header {
    /*padding-top: 20px;*/
    @include linear-gradient(color-stops(#1C2834, #18222E), bottom);


    img {
      padding: 1em;
      background: #fff;
    }

    #page_title {
      display:      block;
      text-align:   right;
      color:        white;

      font: {
        size:       36px;
        /*family:     Helvetica, Arial, sans-serif;*/
        style:      normal;
        weight:     normal;
      }
    }
  }
}

section {
  margin-top:           1em;
  padding:              20px;
  background:           #171719;
  @include              box-shadow(#000, 0, 0, 0.5em);

  h1 {
    font-size:          200%;
  }

  &.main {
    margin:             2em;
    padding:            20px;
    /*width:          920px;*/
    /*color:          black;*/
    @include            column(26);

    h1 {
      margin-bottom:    0.5em;
    }
  }
}


td.main {
  width:            70%;
  padding:          1em;
}

td.sidebar {
  width:            30%;
  padding:          1em;
  vertical-align:   top;
  background:       #ffc;
}

.profile img.gravatar {
  border:           1px solid #999;
  /*margin-bottom:    -15px;*/
}


/* Links */

@mixin hover {
/*
  text-decoration:          underline;
*/
  /*background:               #325986;*/
  /*background:               -webkit-gradient(linear, 0% 0%, 0% 100%, from(#325986), to(#001A31));*/
  /*color:                    white;*/
  /*border-radius:            .25em;*/
  /*-moz-border-radius:       .25em;*/
  /*-webkit-border-radius:    .25em;*/
  color:                $hover_color;
}



a {
  color:            #09c;
  text-decoration:  none;

  &:hover {
/*
    color:              #069;
    text-decoration:    underline;
*/
    @include hover;
  }

  &:visited {
    color: #069;
  }

  &:focus {
    color:                    white;
  }

  &:active {
    color:                    white;
  }

  &.signup_button {
    margin-left:    auto;
    margin-right:   auto;
    display:        block;
    text-align:     center;
    width:          190px;
    font-size:      150%;
    font-weight:    bold;
    padding:        20px;
    @include fancy-button(#2966a8);
  }
}



/* Navigation */

/*
nav {
  float: right;
}
*/


#site_nav {
  /*float:                right;*/
  background-color:     white;
  padding:              1em 5em 1em 1em;
  /*width:                100%;*/
  white-space:          nowrap;
  display:              block;
  @include              box-shadow(#000, 0, 0, 0.5em);
  @include              linear-gradient(color-stops(#222, #444), bottom);
  @include              column(28);

  ul {
    width:              960px;
    text-align:         center;
    margin:             0 auto;
    padding:            0;

    li {
/*
      list-style-type:  none;
      padding:          0.2em 0;
*/
      /*display:          inline-block;*/

      margin:                       0 0 0 .25em;
      border-left:                  2px solid #ccc;
      /*padding:                      0 0 0 .25em;*/
      padding:                      0 .75em;
      display:                      inline;
      list-style-type:              none;
      text-align:                   right;
      font-size:                    18px;
      white-space:                  pre;

      &:first-child {
        border:                     none;
        padding-right:              0;
        margin-right:               0;
      }

      &:last-child {
        padding-right:              0;
        margin-right:               0;
      }

      a {
        padding:                    0 5px;
        /*font-family:                Helvetica, Arial, sans-serif;*/
        padding:                    .25em;
        color:                      #8F8F8F;
        text-decoration:            none;

/*
        &:visited {
          color:                    #09c;
        }
*/
        &:hover {
          @include hover;
        }

        &:focus {
          color:                    white;
        }

        &:active {
          color:                    white;
        }
      }
    }
  }
}


.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

#footer_nav {
  @extend #site_nav;

  ul li {
    font-size:            80%;
  }
}


/*footer {*/

  /*nav {*/
    /*float: none;*/
  /*}*/
/*}*/



.flickr_pagination {
  text-align:           center;
  padding:              .3em;

  a, span {
    padding:            .2em .5em;
  }

  span.disabled {
    color:              #AAA;
  }

  em {
    font-weight:        bold;
    color:              #FF0084;
  }

  a {
    border:             1px solid #DDDDDD;
    color:              #0063DC;
    text-decoration:    none;

    &:hover, &:focus {
/*
      border-color:       #003366;
      background:         #0063DC;
      color:              white;
*/
      @include          hover;
    }
  }

  .page_info {
    color: #aaa;
    padding-top:        .8em;
  }

  .prev_page, .next_page {
    border-width:       2px;
  }

  .prev_page {
    margin-right:       1em;
  }

  .next_page {
    margin-left:        1em;
  }
}


h1.micropost {
  margin-bottom:        0.3em;
}


table.microposts {
  margin-top:           1em;

  tr {
    height:             70px;

    td.gravatar {
      border-top:       1px solid #ccc;
      vertical-align:   top;
      width:            50px;
    }

    td.micropost {
      border-top:       1px solid #ccc;
      vertical-align:   top;
      padding-top:      10px;

      span.timestamp {
        display:        block;
        font-size:      85%;
        color:          #666;
      }
    }
  }
}


div.user_info{
  img {
    padding-right:      0.1em;
  }

  a {
    text-decoration:    none;
  }

  span.user_name {
    position:           absolute;
  }

  span.microposts {
    font-size:          80%;
  }
}




form.new_micropost {
  margin-bottom:        2em;
}

form.new_micropost textarea {
  height:               4em;
  margin-bottom:        0;
}



.profile img.gravatar {
  border:               1px solid #999;
  margin-bottom:        -15px;
}


div.field, div.actions {
  margin-bottom:        10px;
}

.field_with_errors {
  margin-top:           10px;
  padding:              2px;
  background-color:     red;
  display:              table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width:                    400px;
  border:                   2px solid red;
  padding:                  7px;
  padding-bottom:           12px;
  margin-bottom:            20px;
  background-color:         #f0f0f0;
}

#error_explanation h2 {
  text-align:               left;
  font-weight:              bold;
  padding:                  5px 5px 5px 15px;
  font-size:                12px;
  margin:                   -7px;
  background-color:         #c00;
  color:                    #fff;
}

#error_explanation p {
  color:                    #333;
  margin-bottom:            0;
  padding:                  5px;
}

#error_explanation ul li {
  font-size:                12px;
  list-style:               square;
}
