@import "fancy-buttons";
@import "blueprint/interaction";
@import "blueprint/fancy_type";

.button { @include fancy-button(#2966a8); }

/*
.container {
  width: 710px;
}
*/

body {
  background: #5C5C5C;
  @include blueprint-interaction;
  @include fancy-type;

  header {
    padding-top: 20px;

    img {
      padding: 1em;
      background: #fff;
    }

    #page_title {
      display:      block;
/*
      float:        right;
*/
      text-align:   right;

      font: {
        size:       36px;
        family:     Helvetica, Arial, sans-serif;
        style:      normal;
        weight:     normal;
      }
    }
  }
}


td.main {
  width:            70%;
  padding:          1em;
}

td.sidebar {
  width:            30%;
  padding:          1em;
  vertical-align:   top;
  background:       #ffc;
}

.profile img.gravatar {
  border:           1px solid #999;
  margin-bottom:    -15px;
}


section {
  margin-top:   1em;
  font-size:    120%;
  padding:      20px;
  background:   #fff;

  h1 {
    font-size:  200%;
  }
}


/* Links */

@mixin hover {
/*
  text-decoration:          underline;
*/
  background:               #325986;
  background:               -webkit-gradient(linear, 0% 0%, 0% 100%, from(#325986), to(#001A31));
  color:                    white;
  border-radius:            .25em;
  -moz-border-radius:       .25em;
  -webkit-border-radius:    .25em;
}



a {
  color:            #09c;
  text-decoration:  none;

  &:hover {
/*
    color:              #069;
    text-decoration:    underline;
*/
    @include hover;
  }

  &:visited {
    color: #069;
  }

  &:focus {
    color:                    white;
  }

  &:active {
    color:                    white;
  }

/*
  signup_button {
    margin-left:    auto;
    margin-right:   auto;
    display:        block;
    text-align:     center;
    width:          190px;
    font-size:      150%;
    font-weight:    bold;
    padding:        20px;
    @include fancy-button(#2966a8);
  }
*/
}

a.signup_button {
  margin-left:    auto;
  margin-right:   auto;
  display:        block;
  text-align:     center;
  width:          190px;
  font-size:      150%;
  font-weight:    bold;
  padding:        20px;
  @include fancy-button(#2966a8);
}


/* Navigation */

/*
nav {
  float: right;
}
*/


#site_nav {
  float:                right;
  background-color:     white;
  padding:              0 0.7em;
  white-space:          nowrap;
  display:              inline;

  ul {
    margin:             0;
    padding:            0;

    li {
/*
      list-style-type:  none;
      display:          inline-block;
      padding:          0.2em 0;
      font-weight:                  bold;
*/
      border-left:                  1px solid #ccc;
      display:                      inline;
      list-style-type:              none;
      margin:                       0 0 0 .25em;
      padding:                      0 0 0 .25em;
      text-align:                   right;
      padding:                      0 .75em;
      white-space:                  pre;

      &:first-child {
        border:                     none;
        padding-right:              0;
        margin-right:               0;
      }

      &:last-child {
        padding-right:              0;
        margin-right:               0;
      }

      a {
        padding:                    0 5px;
/*
        font-weight:                bold;
*/
        font-size:                  18px;
        font-family:                Helvetica, Arial, sans-serif;
        padding:                    .25em;
        color:                      #8F8F8F;
        text-decoration:            none;

/*
        &:visited {
          color:                    #09c;
        }
*/
        &:hover {
          @include hover;
        }

        &:focus {
          color:                    white;
        }

        &:active {
          color:                    white;
        }
      }
    }
  }
}


.round {
  -moz-border-radius:    10px;
  -webkit-border-radius: 10px;
  border-radius:         10px;
}

footer {
  text-align:   center;
  margin-top:   10px;
  width:        910px;
  margin-left:  auto;
  margin-right: auto;

  nav {
    float: none;
  }
}



.flickr_pagination {
  text-align:           center;
  padding:              .3em;

  a, span {
    padding:            .2em .5em;
  }

  span.disabled {
    color:              #AAA;
  }

  em {
    font-weight:        bold;
    color:              #FF0084;
  }

  a {
    border:             1px solid #DDDDDD;
    color:              #0063DC;
    text-decoration:    none;

    &:hover, &:focus {
/*
      border-color:       #003366;
      background:         #0063DC;
      color:              white;
*/
      @include          hover;
    }
  }

  .page_info {
    color: #aaa;
    padding-top:        .8em;
  }

  .prev_page, .next_page {
    border-width:       2px;
  }

  .prev_page {
    margin-right:       1em;
  }

  .next_page {
    margin-left:        1em;
  }
}
/*
  .flickr_pagination a, .flickr_pagination span, .digg_pagination em {
    padding: .2em .5em; }
  .flickr_pagination span.disabled {
    color: #AAA; }
  .flickr_pagination em {
    font-weight: bold;
    color: #FF0084; }
  .flickr_pagination a {
    border: 1px solid #DDDDDD;
    color: #0063DC;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063DC;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaa;
    padding-top: .8em; }
  .flickr_pagination .prev_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .prev_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }
*/


h1.micropost {
  margin-bottom:        0.3em;
}


table.microposts {
  margin-top:           1em;

  tr {
    height:             70px;

    td.gravatar {
      border-top:       1px solid #ccc;
      vertical-align:   top;
      width:            50px;
    }

    td.micropost {
      border-top:       1px solid #ccc;
      vertical-align:   top;
      padding-top:      10px;

      span.timestamp {
        display:        block;
        font-size:      85%;
        color:          #666;
      }
    }
  }
}


div.user_info{
  img {
    padding-right: 0.1em;
  }

  a {
    text-decoration: none;
  }

  span.user_name {
    position: absolute;
  }

  span.microposts {
    font-size: 80%;
  }
}




form.new_micropost {
  margin-bottom: 2em;
}

form.new_micropost textarea {
  height: 4em;
  margin-bottom: 0;
}
